:root {
    --hero_image_width: 127px;
    --hero_calendar_height: 64px;
    --hero_or_image_width: 170px;
    --hero_or_image_width_half: 85px;
    --ic_gold: #fcc839;
    --ic_gold_web: #ffaf3c;
}

/* !-- Tiamat -- */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
    font-family: "Tiamat Condensed Regular";
    src: url('tiamatcondensedsc-regular-webfont.woff2') format('woff2'),
    url('tiamatcondensedsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.tiamat {
    font-family: 'Tiamat Condensed Regular', serif;
    line-height: unset;
}

html, body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Grenze', serif;
    line-height: 1;
}

html {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

body {
    background-repeat: no-repeat;
    background-color: rgb(41, 57, 73);
    grid-column-start: 2;
}

#title {
    background-color: black;
    grid-area: main;
    position: relative;
    top: -42px;
    left: 200px;
    height: 70px;
    width: 340px;
    display: grid;
    grid-template: "title   title " 2fr
                   "version author" 1fr
                   / 3fr 2fr;
}

#cva {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

#version {
    grid-area: version;
    display: flex;
    align-items: center;
    font-size: small;
    padding-left: 10px;
}

#author {
    grid-area: author;
    display: flex;
    align-items: center;
    font-size: small;
}

a, a:visited {
    color: white;
}

.golden {
    color: var(--ic_gold)
}

.nowrap {
    white-space: nowrap;
}

#page {
    display: grid;
    padding: 80px 15px 15px;
    min-height: 100vh;
    grid-template: "main               main       "
                   "calendar_timegates speed_empty" 1fr
    ;
}

#page > *, #calendar_timegates > *, #speed_empty > * {
    border-style: double;
}

#main {
    grid-area: main;
    display: grid;
    grid-template: "header header   "
                   "core   core     "
                   "extra  evergreen"
                   "extra  event    " 1fr
                   / 280px 1fr;
    grid-row-gap: 8px;
    min-width: min-content;
    max-width: max-content;
}

#main header {
    grid-area: header;
    display: grid;
    grid-template: "disclaimer legend"
                   "mars       legend"
                   / 1fr 530px;
}

#disclaimer {
    grid-area: disclaimer;
    padding: 57px 14px 0;
}

#mars {
    grid-area: mars;
    display: grid;
    grid-template-columns: 100px 1fr;
}

#mars_avatar {
    padding-left: 10px;
    place-self: center right;
}

#mars_avatar img {
    border-style: double;
}

#mars_text {
    background-color: #2A1616;
    padding: 4px 9px;
    height: min-content;
    place-self: center start;
    border-style: double;
}

#legend {
    grid-area: legend;
    background-color: #2A1616;
    display: grid;
    margin-top: 22px;
    padding: 12px;
    width: 470px;
    height: 230px;
    grid-template-columns: 1fr var(--hero_image_width) 1fr;
    grid-column-gap: 16px;
    border-style: double;
}

#legend .flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: smaller;
}

#legend .flexColumn span {
    display: inline-block;
}

#legend .flexColumn .title {
    font-size: x-large;
}

.champion {
    min-width: var(--hero_image_width);
    max-width: var(--hero_image_width);
    display: grid;
    grid-template: "roles    " 32px
                   "portrait " 120px
                   "alignment" 13px
                   "race     " 13px
                   "class    " min-content;
}

.championBnG {
    min-width: var(--hero_image_width);
    max-width: var(--hero_image_width);
    display: grid;
    grid-template: "roles     s roles2    " 32px
                   "portrait  s portrait2  " 120px
                   "alignment s alignment2" 13px
                   "race      s race2     " 13px
                   "class     s class2    " min-content
                   / 50% 0 50%;
    grid-column-gap: 3px;
}

.championBnG span.bngSeparator {
    grid-area: s;
    height: 100%;
    border-left: thin solid;
    width: 0;
}

.champion .roles, .championBnG .roles, .championBnG .roles2 {
    grid-area: roles;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Need this because NERDS */
    width: var(--hero_image_width);
}

.championBnG .roles, .championBnG .roles2 {
    /* Unset NERDS fix so B&G work fine */
    width: unset;
}

.championBnG .roles2 {
    grid-area: roles2;
}

.champion .roles img, .championBnG .roles img, .championBnG .roles2 img {
    height: 32px;
    width: 32px;
}

.champion .portrait {
    grid-area: portrait;
    background-repeat: no-repeat;
    background-size: cover;
}

.championBnG .portrait {
    grid-area: 2 / 1 / 2 / -1;
    background-repeat: no-repeat;
    background-image: url("img/heroes/beadle_and_grimm.png");
    background-size: cover;
}

.champion .name {
    grid-area: portrait;
    place-self: start center;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.5);
}

.championBnG .name {
    grid-area: 2 / 1 / 2 / -1;
    place-self: start center;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.5);
}

.champion .baseAttack, .championBnG .baseAttack, .championBnG .baseAttack2 {
    grid-area: portrait;
    place-self: end start;
    position: relative;
    top: -32px;
    left: 4px;
    display: grid;
}

.championBnG .baseAttack2 {
    grid-area: portrait2;
}

.champion .benchSlot, .championBnG .benchSlot {
    grid-area: portrait;
    place-self: end start;
    position: relative;
    left: 4px;
    display: grid;
}

.champion .benchSlot svg, .champion .benchSlot span, .championBnG .benchSlot svg, .championBnG .benchSlot span {
    grid-area: 1 / 1;
    place-self: center center;
}

.champion .affiliation {
    grid-area: portrait;
    place-self: end end;
    font-size: smaller;
    display: grid;
    grid-row-gap: 1px;
}

.champion .affiliation svg, .champion .affiliation span {
    grid-area: 1 / 1;
    place-self: center center;
}

.champion .alignment, .championBnG .alignment, .championBnG .alignment2 {
    grid-area: alignment;
    text-align: center;
    font-size: smaller;
}

.championBnG .alignment2 {
    grid-area: alignment2;
}

.champion .race, .championBnG .race, .championBnG .race2 {
    grid-area: race;
    text-align: center;
    font-size: smaller;
}

.championBnG .race2 {
    grid-area: race2;
}

.champion .class, .championBnG .class, .championBnG .class2 {
    grid-area: class;
    text-align: center;
    font-size: smaller;
}

.championBnG .class {
    grid-area: class;
    font-size: smaller;
    right: 2ex;
    position: relative;
}

.championBnG .class2 {
    grid-area: class2;
}

#core {
    grid-area: core;
    display: grid;
    grid-template: "title  text  " 62px
                   "heroes heroes" 1fr
                   / 400px 1fr;
    grid-row-gap: 8px;
    min-width: min-content;
    max-width: max-content;
}

#core_title {
    background-repeat: no-repeat;
    background-image: url("img/fillers/header.png");
    background-position: center bottom;
    grid-area: title;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#core_text {
    grid-area: text;
    place-self: center start;
    padding: 0 10px;
}

#core_champions {
    grid-area: heroes;
    display: grid;
    grid-template-columns: repeat(12, var(--hero_image_width));
    justify-self: center;
    min-width: min-content;
    max-width: max-content;
}

#evergreen {
    grid-area: evergreen;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 8px;
}

#evergreen_text {
    padding: 0 10px;
}

#evergreen_champions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: start;
    grid-gap: 8px;
}

#evergreen_champions .evergreen {
    display: grid;
    grid-template: "champion image" 50%
                   "champion text " 50%
                   / min-content 1fr;
    grid-column-gap: 8px;
}

#evergreen_champions .evergreen .champion {
    grid-area: champion;
}

#evergreen_champions .evergreen > picture {
    grid-area: image;
    display: grid;
    width: 200px;
}

#evergreen_champions .evergreen > picture img {
    place-self: end left;
}

#evergreen_champions .evergreen > span {
    grid-area: text;
}

#event {
    grid-area: event;
    display: grid;
    grid-template: "title  text  " 62px
                   "heroes heroes" 1fr
                   / 356px 1fr;
    grid-row-gap: 8px;
    grid-column-gap: 16px;
    min-width: min-content;
    max-width: max-content;
}

#event_title {
    background-repeat: no-repeat;
    background-image: url("img/fillers/header.png");
    background-position: center bottom;
    grid-area: title;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#event_text {
    grid-area: text;
    place-self: center start;
    padding: 0 10px;
}

#event_champions {
    grid-area: heroes;
    display: grid;
    grid-template-columns: repeat(10, var(--hero_image_width));
    grid-row-gap: 8px;
    align-content: start;
    justify-self: center;
    min-width: min-content;
    max-width: max-content;
}

#extra {
    grid-area: extra;
    display: grid;
    grid-template: "roles       "
                   "affiliations"
                   "skins       "
                   "filler      " 1fr
                   ;
    grid-row-gap: 32px;
    margin: 0 10px;
}

#roles {
    background-color: #2A1616;
    grid-area: roles;
    min-height: 200px;
    border-style: double;
    padding: 0 10px 10px;
}

#roles_title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
}

#roles_listing .role {
    display: grid;
    grid-template-columns: 64px 1fr;
    margin-top: 8px;
    grid-column-gap: 8px;
}

#roles_listing .role picture {
    display: grid;
}

#roles_listing .role picture img {
    place-self: center center;
}

#roles_listing .role .title {
    font-size: x-large;
    display: flex;
    justify-content: center;
}

#affiliations {
    background-color: #2A1616;
    grid-area: affiliations;
    min-height: 200px;
    border-style: double;
    padding: 0 10px 10px;
}

#affiliations_title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
}

#affiliations_listing .affiliation {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-top: 8px;
    grid-column-gap: 8px;
}

#affiliations_listing .affiliation svg, #affiliations_listing .affiliation > span:first-of-type {
    grid-area: 1 / 1;
    place-self: center center;
}

#affiliations_listing .affiliation .text {
    place-self: center left;
}

#skins {
    background-color: #2A1616;
    grid-area: skins;
    min-height: 200px;
    border-style: double;
    padding: 0 10px 10px;
}

#skins_title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
}

#skins_pictures {
    display: grid;
    grid-template: "skin arrow champion"
                   "text text  text    "
                   / var(--hero_or_image_width_half) 1fr var(--hero_or_image_width_half);
    margin: 10px 0;
}

#skins_pictures picture.left {
    grid-area: skin;
    place-self: center center;
}

#skins_pictures picture.center {
    grid-area: 1 / 1 / 1 / -1;
    place-self: center center;
    z-index: 1;
}

#skins_pictures picture.right {
    grid-area: champion;
    place-self: center center;
}

#skins_pictures picture.left > img, #skins_pictures picture.right > img {
    max-width: var(--hero_or_image_width_half);
}

#skins_pictures > span {
    grid-area: text;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: smaller;
}

#skins_pictures > span > span:first-of-type {
    text-align: left;
}

#skins_pictures > span > span:last-of-type {
    text-align: right;
}

#filler {
    grid-area: filler;
    display: grid;
    grid-auto-rows: 163px 1fr;
    grid-row-gap: 40px;
}

#filler #idle_champions_logo {
    background-repeat: no-repeat;
    background-image: url("img/fillers/idle_champions_logo.png");
    background-size: 100%;
}

#filler #banner {
    display: grid;
    grid-auto-rows: 1fr 268px;
    margin-bottom: 8px;
}


#filler #banner_top {
    background-repeat: repeat-y;
    background-image: url("img/fillers/banner_top.png");
    background-size: 100%;
    background-position-y: bottom;
}

#filler #banner_bottom {
    background-repeat: no-repeat;
    background-image: url("img/fillers/banner_bottom.png");
    background-size: 100%;
}

#calendar_timegates {
    grid-area: calendar_timegates;
    display: grid;
    grid-template: "calendar"
                   "timegates" 1fr
    ;
    border-style: none;
}

#speed_empty {
    grid-area: speed_empty;
    display: grid;
    grid-template: "speed"
                   "empty" 1fr
    ;
    border-style: none;
}

#calendar {
    grid-area: calendar;
    padding: 0 10px;
}

#calendar > header {
    margin-bottom: 10px;
}

#calendar_title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
}

#calendar_champions {
    display: grid;
    grid-template-columns: 200px repeat(5, var(--hero_calendar_height));
    grid-auto-columns: var(--hero_calendar_height);
    overflow: clip;
}

#calendar_champions .event {
    min-height: var(--hero_calendar_height);
    max-height: var(--hero_calendar_height);
}

#calendar_champions .eventYear {
    display: grid;
    grid-row: 1;
}

#calendar_champions .oldEvent {
    filter: sepia(1);
}

#calendar_champions .oldEvent.reworked {
    filter: sepia(0);
}

#calendar_champions .event.eventRow2, #calendar_champions .event.eventRow2 ~ div.champion {
    grid-row: 2;
}

#calendar_champions .event.eventRow3, #calendar_champions .event.eventRow3 ~ div.champion {
    grid-row: 3;
}

#calendar_champions .event.eventRow4, #calendar_champions .event.eventRow4 ~ div.champion {
    grid-row: 4;
}

#calendar_champions .event.eventRow5, #calendar_champions .event.eventRow5 ~ div.champion {
    grid-row: 5;
}

#calendar_champions .event.eventRow6, #calendar_champions .event.eventRow6 ~ div.champion {
    grid-row: 6;
}

#calendar_champions .event.eventRow7, #calendar_champions .event.eventRow7 ~ div.champion {
    grid-row: 7;
}

#calendar_champions .event.eventRow8, #calendar_champions .event.eventRow8 ~ div.champion {
    grid-row: 8;
}

#calendar_champions .event.eventRow9, #calendar_champions .event.eventRow9 ~ div.champion {
    grid-row: 9;
}

#calendar_champions .event.eventRow10, #calendar_champions .event.eventRow10 ~ div.champion {
    grid-row: 10;
}

#calendar_champions .event.eventRow11, #calendar_champions .event.eventRow11 ~ div.champion {
    grid-row: 11;
}

#calendar_champions .event.eventRow12, #calendar_champions .event.eventRow12 ~ div.champion {
    grid-row: 12;
}

#calendar_champions .event.eventRow13, #calendar_champions .event.eventRow13 ~ div.champion {
    grid-row: 13;
}

#calendar_champions .event.eventRow14, #calendar_champions .event.eventRow14 ~ div.champion {
    grid-row: 14;
}

#calendar_champions .event.eventRow15, #calendar_champions .event.eventRow15 ~ div.champion {
    grid-row: 15;
}

#calendar_champions .event.eventRow16, #calendar_champions .event.eventRow16 ~ div.champion {
    grid-row: 16;
}

#calendar_champions .event.eventRow17, #calendar_champions .event.eventRow17 ~ div.champion {
    grid-row: 17;
}

#calendar_champions .event.eventRow18, #calendar_champions .event.eventRow18 ~ div.champion {
    grid-row: 18;
}

#calendar_champions .eventYear svg, #calendar_champions .eventYear span {
    grid-area: 1 / 1;
    place-self: center center;
    color: gold;
}

#calendar_champions .champion {
    min-width: var(--hero_calendar_height);
    max-width: var(--hero_calendar_height);
    display: grid;
    grid-template: "portrait " var(--hero_calendar_height);
}

#calendar_champions .champion .portrait {
    background-size: cover;
}

#calendar_champions .champion .timegate {
    background-image: url(img/fillers/time_gate_small.png);
    background-size: 32px 32px;
    background-position-x: -4px;
    place-self: end start;
    min-width: 32px;
    min-height: 32px;
}

#calendar_champions .champion .reworked, #calendar_champions .champion .reworkedAt {
    fill: var(--ic_gold);
    max-width: 24px;
    height: 24px;
}

#calendar_champions .champion.oldEvent .reworked {
    display: none;
}

#calendar_champions .champion .mirt {
    background-image: url(img/fillers/Icon_Patron_MirttheMoneyLender_0_2.png);
    background-size: 35px 24px;
    place-self: end end;
    min-width: 35px;
    min-height: 24px;
}

#calendar_champions .champion .vajra {
    background-image: url(img/fillers/Icon_Patron_Vajra_0_2.png);
    background-size: 43px 24px;
    place-self: end end;
    min-width: 43px;
    min-height: 24px;
}

#calendar_champions .champion .strahd {
    background-image: url(img/fillers/Icon_Patron_Strahd_0_2.png);
    background-size: 37px 24px;
    place-self: end end;
    min-width: 37px;
    min-height: 24px;
}

#calendar_champions .champion .zariel {
    background-image: url(img/fillers/Icon_Patron_Zariel_0_2.png);
    background-size: 27px 24px;
    place-self: end end;
    min-width: 27px;
    min-height: 24px;
}

#speed {
    grid-area: speed;
    padding: 0 10px;
    min-width: 600px; /* Needed for Hew Maan */
}

#speed header {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 90px 1fr 85px;
    grid-column-gap: 24px;
    grid-template-rows: min-content min-content;
}

#speed header #speed_potions_left {
    background-repeat: no-repeat;
    background-image: url("img/fillers/Icons_Inventory__Icon_PotionOfSpeed3.png"), url("img/fillers/Icons_Inventory__Icon_PotionOfSpeed4.png");
    background-position: center right, center left;
}

#speed header #speed_potions_right {
    background-repeat: no-repeat;
    background-image: url("img/fillers/Icons_Inventory__Icon_PotionOfSpeed2.png"), url("img/fillers/Icons_Inventory__Icon_PotionOfSpeed1.png");
    background-position: center left, center right;
}

#speed header picture {
    display: grid;
}

#speed header picture img {
    place-self: center center;
}

#speed_title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
}

#speed_champions {
    display: grid;
    grid-template-columns: var(--hero_calendar_height) 1fr;
    grid-column-gap: 8px;
    border: thin solid;
}

.line {
    grid-column: 1 / -1;
    height: 0;
    border-bottom: thin solid;
    width: 100%;
}

#speed_champions .line:last-child {
    border: none;
}

#speed_champions .champion {
    background: linear-gradient(180deg, #1D0D19 0%, #430003 100%);
    min-width: var(--hero_calendar_height);
    max-width: var(--hero_calendar_height);
    display: grid;
    grid-template: "portrait " var(--hero_calendar_height);
}

#speed_champions .champion .portrait {
    background-size: cover;
}

#speed footer {
    min-height: 240px;
    background-image: url("img/fillers/Modron__ModronAuto_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* Remove parent padding so background fills all */
    max-width: calc(100% + 20px);
    margin: 0 -10px;
}

#speed > footer > div {
    /* Add the padding again */
    padding: 0 10px;
}

#modron_title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
}

#timegates {
    grid-area: timegates;
    padding: 0 10px;
    display: grid;
    grid-auto-rows: min-content min-content 1fr;
    grid-row-gap: 8px;
}

#timegates header {
    display: grid;
    grid-template-columns: 128px 1fr 128px;
    grid-column-gap: 24px;
    grid-template-rows: min-content min-content;
}

#timegates header picture {
    display: grid;
}

#timegates header picture img {
    place-self: center center;
}

#timegates_title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: end;
}

#timegates footer {
    place-self: end center;
    min-height: 328px;
    min-width: 318px;
    background: url("img/fillers/time_gate_6_pieces.png") no-repeat center center, url("img/fillers/time_gate_big.png") no-repeat center top;
}

#biglogo {
    grid-area: empty;
    display: flex;
}

#biglogo #idle_champions_logo2 {
    background-repeat: no-repeat;
    background-image: url("img/fillers/idle_champions_logo.png");
    background-size: contain;
    background-position: center center;
    width: 100%;
    margin: 16px;
}
